
\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/_0\.frq

*.fnm

*.nrm

*.resources

*.fdt

*.fdx

*.index

*.properties

\.metadata/\.plugins/org\.eclipse\.ui\.intro/

*.js

*.dat

*.ini

*.prefs

*.gen

*.json

\.metadata/\.plugins/org\.eclipse\.jdt\.core/

*.zip

*.tis

*.xml

*.xmi
