
\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/_0\.frq

*.fnm

*.nrm

*.resources

*.fdt

*.fdx

*.index

*.properties

\.metadata/\.plugins/org\.eclipse\.ui\.intro/

*.js

*.dat

*.ini

*.prefs

*.gen

*.json

\.metadata/\.plugins/org\.eclipse\.jdt\.core/

*.zip

*.tis

*.xml

*.xmi

RemoteSystemsTempFiles/\.project

\.metadata/\.lock

\.metadata/\.log

\.metadata/\.plugins/org\.eclipse\.debug\.core/\.launches/DoWhileloop\.launch

\.metadata/\.plugins/org\.eclipse\.debug\.core/\.launches/forloop\.launch

\.metadata/\.plugins/org\.eclipse\.debug\.core/\.launches/User \(1\)\.launch

\.metadata/\.plugins/org\.eclipse\.debug\.core/\.launches/User2 \(1\)\.launch

\.metadata/\.plugins/org\.eclipse\.debug\.core/\.launches/User2\.launch

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/http-cache/write\.lock

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/_0\.tii

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/segments_1

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/local-history/write\.lock

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/_0\.frq

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/_0\.tii

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ide/org\.eclipse\.epp\.logging\.aeri\.ide\.server/remote-history/segments_1

\.metadata/\.plugins/org\.eclipse\.jdt\.ui/jdt-images/0\.png

*.png

*.history

*.log

*.setup

*.mark

\.metadata/\.plugins/org\.eclipse\.wst\.jsdt\.core/externalLibsTimeStamps

*.frq

*.prx

*.tii

\.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_1

*.lock

*.launch
